[flake8]
ignore =
    E231,
    E225,
    E303,
    E203,
    E226,
    W503,
max-line-length = 88
exclude =
    .git,
    __pycache__,
    .venv,
    build,
    dist,
    Lib,
    Lib/site-packages,
    tests/,
    scripts/
